[defaults]
inventory = inventory
host_key_checking = False
retry_files_enabled = False
interpret_binary_args = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
pipelining = True

