[Unit]
Description=GOST Proxy Server
After=network.target
Wants=network.target

[Service]
Type=simple
User={{ gost_user }}
Group={{ gost_user }}
ExecStart={{ gost_install_path }}/gost -L http://{{ gost_username }}:{{ gost_password }}@{{ gost_bind_address }}:{{ gost_port }}
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=gost

[Install]
WantedBy=multi-user.target